.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  max-height: 100px;
  background-color: #e7717d;
  position: sticky;
  top: 0;
  z-index: 10;
}

.user_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
